body{
  padding: 0;
  margin: 0;
  height: 560px;
  width: 1170px;
  background-color: antiquewhite;
}
div {
  width: 100px;
  height: auto;
  position:relative;
  animation: imgMoves linear 10s, moveCenter 1s 10s forwards;
}
img{
  width: 100px;
  height: auto;
    position:relative;
  animation: imgMoves linear 10s, moveCenter 1s 10s forwards;
}

@keyframes imgMoves {
  20%{left:0px; top:0px;}
  40%{left:100%; top:0px;} 
  60%{left:100%; top:100%;}
  80%{left:0px; top:100%;}
  100%{left:0px;top:0px}
  
}
@keyframes moveCenter {
  from{left:0px; top:0px;}
  to{left:50%;top:50%}
  
}